@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

.slick-next {
  display: none !important;
  right: 15px !important;
}

.slick-prev {
  display: none !important;
  left: 15px !important;
}